
@{
    ViewBag.Title = "display";
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/StyleDisplay.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <img src="~/export-map-share.png" alt="pic">
    <canvas id="myCanvas"></canvas>
    <script>
        myCanvas.width = screen.width;
        myCanvas.height = screen.height;
        func = (function () {
            $.ajax({
                type: "POST", url: "@Url.Action("getLonAndLat")", success: function (xml) {
                    var xmlDoc = $.parseXML(xml),
                        $xml = $(xmlDoc),
                        lon = $xml.find("Lon").text();
                    lat = $xml.find("Lat").text();
                    var c = document.getElementById("myCanvas");
                    var pLon = parseFloat(lon);
                    var pLat = parseFloat(lat);
                    var newLon = (pLon + 180) * (360 / screen.height);
                    var newLat = (pLat + 90) * (180 / screen.width);
                    var ctx = c.getContext("2d");
                    ctx.beginPath();
                    ctx.arc(newLon, newLat, 5, 0, 2 * Math.PI); // drawing the circle
                    ctx.fillStyle = "red";
                    ctx.fill();
                    ctx.stroke();
                    ctx.closePath();
                }
            });
            if (@Session["fname"]!=0) {
               $.post("@Url.Action("WriteFlightData")").done(function () {
                    var nothing = 1;
                });
            }
        });

        if (@Session["timer"] != 0) {
                var IntervalTime = 1000 / (@Session["timer"])
                setInterval(func, IntervalTime);
            }
            func();
    </script>
</body>
</html>
